.tabs {
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.activeTab {
  background-color: #704977;
  color: #fff;
}



.tabsContainer {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 12px;
  width: fit-content;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
  display: flex;
  gap: 4px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

@media (min-width: 900px) {
  .optionsContainer {
    flex-direction: row;
  }
}